.TodoList {
    margin: 4rem auto;
    padding: 2rem 3rem 3rem;
    max-width: 600px;
    background: #ff6666;
    color: #fff;
    box-shadow: -10px -10px 0px 0px rgba(100, 100, 100, 0.1);
    overflow: hidden;
}

.TodoList ul {
    margin-top: 2.6rem;
    list-style: none;
}

.TodoList h1 {
    font-weight: normal;
    font-size: 2.6rem;
    letter-spacing: 0.05em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

.TodoList h1 span {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
    margin-left: 3px;
    margin-top: 0.2 rem
}

.TodoList-toggle {
    text-align: right;
}

.TodoList-toggle button {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 3 1.3rem;
    text-align: center;
    vertical-align: middle;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 5px;
    cursor: pointer;
    transition: background 0.4s ease-out;
    outline: none;
}

.TodoList-toggle button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.TodoList-buttondesc {
    font-size: 0.75em;
    text-align: center;
}

.TodoList-icons {
    vertical-align: middle;
}